<ng-template #divLoading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<div *ngIf="hero; else divLoading" class="hero-info-container">

  <!-- Tarjeta de Imagen del Héroe -->
  <mat-card class="hero-card">
    <mat-card-header>
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="hero | heroImage" [alt]="hero.superhero" mat-card-image />
  </mat-card>

  <!-- Tarjeta de Información -->
  <mat-card class="info-card">
    <mat-card-header>
      <mat-card-title>Información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <strong>Primera Aparición:</strong>
          {{ hero.first_appearance }}
        </mat-list-item>
        <mat-list-item>
          <strong>Personajes:</strong>
          {{ hero.characters }}
        </mat-list-item>
        <mat-list-item>
          <strong>Publicado por:</strong>
          {{ hero.publisher }}
        </mat-list-item>
        <mat-list-item>
          <strong>Nombre Real:</strong>
          {{ hero.alter_ego }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="goBack()">Regresar</button>
    </mat-card-actions>
  </mat-card>

</div>
